@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header::after{
    content: "";
    width: 100%;
    height: 100vh;
    background: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;  
}

#bg-video{
    width: 100%;
    height: 100vh;
    position: absolute;
object-fit: cover;
}

.video-info{
    z-index: 99;
    position: relative;
    color: #ffffff;
    text-align: center;
    font-family: "Caveat",sans-serif;
}

.video-info h2{
    font-family: "Playfair Display",sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.video-info h1{
    font-family: "Playfair Display",sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.video-info p{
    margin-bottom: 2rem;
}

.btn{
    padding: 12px 24px;
    background: #FFB6C1;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: "Caveat", cursive;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
      background: #f79fad;
}

@media screen and (max-width:768px) {
    .video-info {
        padding: 1rem;
    }
    .video-info h2 {
        font-size: 1.5rem;
    }
    .video-info h1 {
        font-size: 2rem;
    }
}